.wrapper-card {
    text-align: center;
    width: 22rem;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    .card-text-content {
        padding: 1rem;
    }
    h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        margin-bottom: 1.2rem;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        color: hsl(220, 15%, 55%);
        margin-bottom: 1.2rem;
        line-height: 1.2rem;
    }
}
@media (max-width:370px) {
    .wrapper-card {
        width: 15rem;
    }
    img, h1, p {
    margin-bottom: 0.5rem;
    }
}